<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container my-4">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header">
            <h3>Author Form</h3>
          </div>
          <div class="card-body">
            <form th:object="${author}" th:action="@{/author-form}" method="post">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                       th:field="*{name}">
                <small class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}"></small>
              </div>
              <div class="form-group">
                <label for="dob">DateOfBirth</label>
                <input type="date"  id="dob"
                 th:field="*{dateOfBirth}"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'is-invalid'">
                <small class="invalid-feedback" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></small>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" th:field="*{email}"
                th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
                <small class="invalid-feedback"
                       th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
              </div>

              <input type="submit" class="btn btn-info btn-block"
                     value="Save Author">

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
</body>
</html>