<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container my-5">
    <div class="row mt-3">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <a th:href="@{/view-cart}"><h3><i class="fas fa-cart-plus"></i>
          &nbsp;<span class="badge badge-info" th:text="${cartSize}"></span></h3></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 p-3">
        <div class="card shadow rounded mt-3">
          <img th:src="${book.imgUrl}" alt="" class="card-img">
        </div>

      </div>
      <div class="col-md-8 p-3">
        <h3 th:text="${book.title}" class="text text-info"></h3>
        <p class="lead">It is published by <span th:text="${book.yearPublished}">&nbsp; year.</span></p>
        <p class="lead">It costs $ <span th:text="${book.price}"></span>.</p>
        <p class="lead">Written by <span th:text="${book.author.name}"></span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at blanditiis cum dolor facere libero mollitia obcaecati, rerum similique sint. Adipisci aliquam doloribus incidunt ipsum laudantium officiis quo vel voluptatum?</p>
      </div>
    </div>

    <div>
      <a th:href="@{'/cart/add-cart?id='+${book.id}}"
         class="btn btn-primary mr-3">AddToCart</a>
      <a th:href="@{/}" class="btn btn-success mr-3">Continue Shopping</a>
      <a th:href="@{/view-cart}" class="btn btn-info">View Cart</a>
    </div>

  </div>
</main>
</body>
</html>